/* Global Styles */
@font-face {
	font-family: '04B';
	src: url('./assets/fonts/04B.ttf') format('truetype');
	font-style: normal;
}

body {
	margin: 0;
	font-family: '04B';
}
canvas {
	display: block;
}
.container-col {
	display: flex;
	flex-direction: column;
	padding: 25px;
}
.container-row {
	display: flex;
	align-items: center;
}
.container-left {
	position: absolute;
	top: 0;
	left: 0;
}
.container-right {
	position: absolute;
	top: 0;
	right: 0;
}
.tower-img {
	width: 60px;
	height: auto;
	margin: 5px;
	padding: 5px;
	border: 1px solid #c3e6cb;
	background-color: white;
	border-radius: 5px;
}
.tower-img-selected {
	background-color: darkslategray;
}
.player-stats-img {
	margin: 5px;
	padding: 5px;
	width: 25px;
	height: auto;
}
.start-btn {
	background-color: darkslategray;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: '04B';
	font-weight: bold;
	font-size: large;
}
