/* Global Styles */

body {
	margin: 0;
}
canvas {
	display: block;
}
.tower-img-container {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	padding: 25px;
}
.tower-img {
	width: 75px;
}
